<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>MemberController</servlet-name>
		<servlet-class>jsp.front.controller.MemberController</servlet-class>
		<init-param>
			<param-name>propertyConfig</param-name>
			<param-value>C:\Users\rladn\OneDrive\문서\JSP_BOARD\JSP_BOARD\WebContent\WEB-INF\command\command.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
</web-app>